.contacts-map
	display: block

	aspect-ratio: auto 1240/404
	margin-top: var(--p-2xl)

	overflow: hidden

	border-radius: var(--radius-m)
	background-color: var(--color-neutral-300)
	background-image: url('/img/logo.svg')
	background-repeat: no-repeat
	background-position: center
	background-size: 200px
