.contacts-item
	padding: var(--p-l)
	border-radius: var(--radius-s)
	background: var(--color-neutral-100)

	&__label
		display: block
		margin-bottom: var(--g-xs)
		color: var(--color-neutral-500)

	&__content
		display: flex
		flex-direction: column
		gap: var(--g-xs)
		text-wrap: balance
