.soc-share
	display: flex
	flex-direction: column
	gap: var(--g-s)

	&__list
		display: flex
		flex-wrap: wrap
		gap: var(--g-s)

	&__item
		--btn-radius: 100%
		--btn-min-height: 16px
		--btn-px: var(--p-xs)
		--btn-py: var(--p-xs)
		aspect-ratio: 1
