tr
	td.text
		h2.text__title-number Здравствуйте, Иван!
		p.text__p Введите указанный ниже код подтверждения, чтобы подтвердить адрес электронной почты.
		.text__number-box
			span.text__number 2849
		p.text__figure Если вы не запрашивали код подтверждения, не обращайте внимания на это сообщение.
