//- Базовые миксины
include ../shared/ui/image
include ../shared/ui/icon

//- Аккордеоны
include ../shared/accordions/base-accordion

//- Ошибки
include ../shared/errors/error-block

//- Шапка
include ../shared/header

//- Сосцсети
include ../shared/socials
include ../shared/social-share

//- Навигация
include ../shared/navigation/breadcrumbs

//- Слайдеры
include ../shared/sliders/content-slider

//- Остальное
include ../shared/page-header
include ../shared/pagination-block
include ../shared/tooltip
