.modals#modals-container
	//- Если внутри попапа то, что не должно быть проиндексировано создаем его тут src/components/modals и подключаем в RootComponent.vue
	include /shared/modals/modal-menu-mobile
