.tag
	--tag-bg: var(--color-neutral-300)
	--tag-color: var(--color-neutral-900)
	--tag-gap: var(--g-xs)
	--tag-px: var(--p-s)
	--tag-py: var(--p-s)
	--tag-font-size: var(--font-size-text-s)
	--tag-line-height: var(--line-height-s)
	--tag-font-weight: 500
	--tag-border-size: 1PX
	--tag-radius: var(--radius-s)
	--tag-border-color: transparent
	--tag-min-height: 32px

	display: inline-flex
	align-items: center
	justify-content: center
	gap: var(--tag-gap)

	min-height: var(--tag-min-height)

	padding: var(--tag-py) var(--tag-px)

	border: var(--tag-border-size) solid transparent
	border-radius: var(--tag-radius)

	background-color: var(--tag-bg)

	color: var(--tag-color)

	font-size: var(--tag-font-size)
	font-weight: var(--tag-font-weight)
	line-height: var(--tag-line-height)

	text-align: center
	text-decoration: none
