.text
	--text-font-family: var(--font-family)
	--text-font-size: var(--font-size)
	--text-font-weight: 400
	--text-line-height: var(--line-height-l)
	--text-text-transform: none
	--text-letter-spacing: normal

	font-family: var(--text-font-family)
	font-size: var(--text-font-size)
	font-weight: var(--text-font-weight)
	letter-spacing: var(--text-letter-spacing)
	line-height: var(--text-line-height)
	text-transform: var(--text-text-transform)

	&--size-s
		--text-font-size: var(--font-size-text-s)

	&--caption
		--text-font-size: 12px
