.title
	--title-font-family: var(--font-family)
	--title-font-size: var(--font-size)
	--title-font-weight: 500
	--title-line-height: var(--line-height-m)
	--title-text-transform: none
	--title-letter-spacing: var(--letter-spacing-m)

	font-family: var(--title-font-family)
	font-size: var(--title-font-size)
	font-weight: var(--title-font-weight)
	letter-spacing: var(--title-letter-spacing)
	line-height: var(--title-line-height)
	text-transform: var(--title-text-transform)
	text-wrap: balance

	&--h1
		--title-font-size: var(--font-size-h1)
		--title-line-height: var(--line-height-s)

	&--h2
		--title-font-size: var(--font-size-h2)

	&--h3
		--title-font-size: var(--font-size-h3)

	&--h4
		--title-font-size: var(--font-size-h4)

	&--h5
		--title-font-size: var(--font-size-h5)

	&--h6
		--title-font-size: var(--font-size-h6)
