.hero-section
	position: relative
	min-height: 100svh
	margin-bottom: 0
	overflow: hidden

	&__bg
		position: absolute
		inset: 0
		background-color: #b5b0ab

	&__bg-image
		--object-fit: cover
		height: 100%

	&__content
		position: relative
		z-index: var(--z-index-above)

		display: flex
		flex-direction: column
		align-items: center

		min-height: 100svh
		padding-top: fluid(24, 16)
		padding-bottom: fluid(80, 64)

		text-align: center

	&__label
		margin: 0 0 fluid(40, 32)

		color: var(--color-neutral-100)
		font-family: var(--font-family-secondary)
		font-size: fluid(10, 9)
		font-weight: 400
		letter-spacing: 0.32em
		line-height: var(--line-height-m)

		text-transform: uppercase

	&__names
		display: flex
		flex-direction: column
		align-items: center
		gap: fluid(4, 2)
		width: 100%
		margin-top: auto

	&__name
		margin: 0
		color: var(--color-neutral-100)
		font-family: var(--font-family-accent)
		font-size: fluid(98, 74)
		font-weight: 400
		line-height: 0.6

	&__amp
		opacity: 0.8
		color: var(--color-neutral-100)
		font-family: var(--font-family-accent)
		font-size: fluid(46, 37)
		font-weight: 400
		line-height: 1

	&__flower
		position: absolute
		right: fluid(-12, -24)
		bottom: fluid(-72, -56)
		z-index: var(--z-index-above-secondary)
		width: fluid(200, 160)
		pointer-events: none

	&__flower-image
		--width: 100%
		--aspect-ratio: 280/420
		--object-fit: contain
