.layout--wedding
	width: 100%
	max-width: 480px
	margin: 0 auto

.page-wedding
	--body-bg: var(--wedding-bg)
	--wedding-bg: #f8f3ee
	--wedding-accent: #6f3845

	--font-family-secondary: 'Montserrat', sans-serif
	--font-family-accent: 'Bad Script', cursive

	--section-margin: 0

	background-color: var(--wedding-bg)

	.page__section:not(:last-child)
		margin-bottom: 0
