@font-face
	font-family: "Disruptor's Script"
	font-style: normal
	font-weight: 400
	font-display: swap
	src: url('#{$BASE_URL}fonts/Disruptors Script/DisruptorsScript-Regular.woff2') format('woff2')
