extends /base/_head
block vars
	- let title = 'Главная'
	- let layoutClass = 'layout'
	- let bodyClass = null

block content
	+header()

	main.page__main
		cart-view

	include ../templates/shared/footer
