extends /base/_head
block vars
	- let title = 'Главная'
	- let layoutClass = 'layout'
	- let bodyClass = null

block content
	+header()

	main.page__main
		//- +page-header({title: 'Восстановление пароля', breadcrumbs: ['Главная', 'Восстановление пароля'], backward: 'назад'})
		section.page__section.section.auth-section
			.wrapper
				auth-view(initial-step="resetPassword")
			

	include ../templates/shared/footer
