mixin socials(data, list=[])
	.socials&attributes(attributes)
		if data.title
			span.socials__title!=data.title

		.socials__list
			each item, i in list
				a.socials__item(href="#" target="_blank")
					+image(
						{
							src: item,
							width: 24,
							height: 24,
						},
					).socials__item-icon

		if data.disclaimer
			span.socials__disclaimer!=data.disclaimer
