section.page__section.section.countdown-section
	.countdown-section__inner.wrapper
		h2.countdown-section__title(v-animate="{animationClass: 'fadeInUp'}")
			span.countdown-section__title-line
				span.countdown-section__title-accent(aria-hidden="true") Увидимся через...

		wedding-countdown.countdown-section__countdown(v-animate="{animationClass: 'fadeInUp'}")
