section.page__section.section.dress-code-section
	.dress-code-section__inner.wrapper
		h2.dress-code-section__title(v-animate="{animationClass: 'fadeInUp'}") Дресс-код

		.dress-code-section__text(v-animate="{animationClass: 'fadeInUp'}")
			p
				| Мы не ограничиваем гостей определённой цветовой гаммой, но будем особенно рады образам в нежных пастельных оттенках. Главное — ваш комфорт!
