section.page__section.section.dress-code-section
	.dress-code-section__inner.wrapper
		h2.dress-code-section__title Дресс-код

		.dress-code-section__text
			p
				| Мы не ограничиваем гостей определённой цветовой гаммой, но будем особенно рады образам в нежных пастельных оттенках. Главное — ваше хорошее настроение и комфорт!
