section.page__section.section.hero-section
	.hero-section__bg
		+image(
			{
				src: 'img/content/we.webp',
				width: '280',
				height: '420',
				alt: '',
				lazy: false
			}
		).hero-section__bg-image
	.hero-section__content.wrapper

		.hero-section__names
			h1.hero-section__name Полина
			span.hero-section__amp &
			h1.hero-section__name Юрий

	.hero-section__flower
		+image(
			{
				src: 'img/content/flower.svg',
				width: '280',
				height: '420',
				alt: '',
				lazy: false
			}
		).hero-section__flower-image
