section.page__section.section.invite-section
	.invite-section__inner.wrapper
		h2.invite-section__title(v-animate="{animationClass: 'fadeInUp'}") Дорогие гости!

		.invite-section__text(v-animate="{animationClass: 'fadeInUp'}")
			p Спешим поделиться большой радостью – мы женимся!
			p Без вас наша свадьба не будет такой же душевной и памятной. Приглашаем отметить этот день вместе с нами!

		.invite-section__details(v-animate="{animationClass: 'fadeInUp'}")
			p.invite-section__date 12 сентября 2026
