section.page__section.section.invite-section
	.invite-section__inner.wrapper
		h2.invite-section__title Дорогие гости!

		.invite-section__text
			p Спешим поделиться большой радостью – мы женимся!
			p Без вас наша свадьба не будет такой же душевной и памятной. Приглашаем вас отметить этот день вместе с нами!

		.invite-section__details
			p.invite-section__date 12 сентября 2026
