section.page__section.section.program-section
	.program-section__inner.wrapper
		h2.program-section__title Программа дня

		ul.program-section__timeline
			li.program-section__item.program-section__item--left
				.program-section__event
					p.program-section__time 15:00
					p.program-section__label Сбор гостей
			li.program-section__item.program-section__item--right
				.program-section__event
					p.program-section__time 16:00
					p.program-section__label Церемония регистрации
			li.program-section__item.program-section__item--left
				.program-section__event
					p.program-section__time 17:00
					p.program-section__label Праздничный банкет
			li.program-section__item.program-section__item--right
				.program-section__event
					p.program-section__time 23:00
					p.program-section__label Завершение вечера
