section.page__section.section.wishes-section
	.wishes-section__inner.wrapper
		h2.wishes-section__title(v-animate="{animationClass: 'fadeInUp'}") Пожелания

		.wishes-section__text
			.wishes-section__item(v-animate="{animationClass: 'fadeInUp'}")
				p Для нас самое главное — ваше присутствие и хорошее настроение. Если вы планируете подарок, самым желанным для нас будет вклад в наш семейный бюджет.

			.wishes-section__item(v-animate="{animationClass: 'fadeInUp'}")
				p Мы знаем, что на свадьбах принято дарить цветы, но, к сожалению, у нас не будет возможности заботиться о букетах после свадьбы. Если захотите сделать приятный комплимент — будем рады любой альтернативе, выбранной вами с душой.
