extends /base/_head

block vars

	- let title = 'Полина и Юрий'

	- let layoutClass = 'layout layout--wedding'

	- let bodyClass = 'page-wedding'



block content

	main.page__main

		include templates/main/hero-section

		include templates/main/invite-section

		include templates/main/program-section

		include templates/main/venue-section

		include templates/main/dress-code-section

		include templates/main/wishes-section

		include templates/main/countdown-section

